## Maven files:
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

## File-based project format:
*.iws
*.iml
*.ipr
.idea/ # whole directory!

## log files:
*.log

## General
.DS_Store
.AppleDouble
.LSOverride
